<html>
    <head>
        <title>Account Recovery</title>
        <%- include("template/style") %>
        <link rel="stylesheet" href="/css/form.css">
    </head>
    <body>
        <form class="form" action="/user/reset/<%= token %>" method="post">
            <h1 class="header">Reset Password</h1>
            <div class="input-layout">
                <br>
                <label for="password" style="color: #FF0000;">*required</label><br>
                <div class="password-input">
                    <input type="password" id="password" name="password" placeholder="New Password" value="<%= password %>">
                    <button type="button" id="password-reveal" onclick="reveal('password-reveal', 'password')"><i class="fa-solid fa-eye"></i></button>
                </div><br>
                <label for="rePassword" style="color: #FF0000;">*required</label><br>
                <div class="password-input">
                    <input type="password" id="repassword" name="repassword" placeholder="Re-Password" value="<%= repassword %>">
                    <button type="button" id="repassword-reveal" onclick="reveal('repassword-reveal', 'repassword')"><i class="fa-solid fa-eye"></i></button>
                </div><br>
            </div><br>
            <button class="btn">RESET</button><br>
        </form>
        <%- include('template/alertScript') %>
    </body>
    <script>
        
        function reveal(button, input) {
            let revealButton = document.getElementById(button);
            const password = document.getElementById(input)
            if (password.getAttribute("type") == "password") {
                password.setAttribute("type", "text")
                revealButton.innerHTML = "<i class=\"fa-solid fa-eye-slash\"></i>"
            } else {
                password.setAttribute("type", "password")
                revealButton.innerHTML = "<i class=\"fa-solid fa-eye\"></i>"
            }
        }
    </script>
</html>